<div class="buttons-wrapper">
    <a href="/" class="logo">WasteBin</a>
    <div class="buttons">
        <a href="/" class="btn">New</a>
        <button class="btn" type="submit">save</button>
    </div>    
</div>