<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="/styles.css"/>
    <title>Document</title>
</head>
<body>
    <div class="wrapper"">
        <div class="line-numbers">
            <%for( let i = 0; i < code.split("\n").length; i++){%>
            <div><%=i%></div>            
            <%}%>                                
        </div>
        <pre><code id="code-display"><%=code%></code></pre>
        <!-- plaintext class comes from highlight.js class="language-plaintext" : doesnt try to guess the programming languange if class is included-->
    </div>
   

</body>
</html>