body {
  background-color: #002b36;
  margin: 0;
}
.wrapper {
  display: flex;
  padding: 1rem 0.5rem;
  font-size: 1rem;
}
pre {
  margin: 0;
}
#code-display {
  padding-top: 0;
  padding-bottom: 0;
}
.line-numbers {
  color: #93a1a1;
  font-family: monospace;
  text-align: end;
}
textarea {
  background-color: transparent;
  color: #7d7d7d;
  resize: none;
  margin-left: 1rem;

  /* to remove the padding of the surrounding element */
  border: none;
  outline: none;
}
.button-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.15;
  transition: opacity 200ms ease-in-out;
}
.button-wrapper:hover {
  opacity: 1;
}
.logo {
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  width: 100%;
  display: inline-block;
}
.logo:hover {
  text-decoration: underline;
}
.buttons {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
}
.buttons > * + * {
  margin-left: 0.25rem;
}
.btn {
  cursor: pointer;
  background: ghostwhite;
  border: 1px solid #002b36;
  color: #002b36;
  border-radius: 0.25rem 0.5rem;
  transition: background-color 200ms ease-in-out;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background-color: #83e5ff;
}
